body{

    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 2% 4%;
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
    overflow: hidden;
}

.outlet-container {
    display: flex;
    flex-direction: column;
    padding: 0 4% 0 0;
    margin-top: 4%;
    height: 65vh;
    width: 100%;
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    overflow: hidden;
    color: white;

    @media(min-width: 800px){

        width: 70vb;
        height: auto;
    }
  }

/* Nav */

.navbar {

    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    height: 100%;
    padding: 0 100%;

   
    background-size: 200% 200%;
    animation: ani_gradient 5s ease infinite;
    
}

.nav {
    
    column-gap: 10px;
    font-size: 1.5em;
    margin-left: 20%;
   
}

.nav img {

    width: 80%;
    height: 10vh;
    text-decoration: none;
    color: white;

    @media(min-width: 800px){

        width: 30%;
        height: 5vh
    }

}

.nav2 {

    display: flex;
    flex-direction: row;
    column-gap: 5px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 1% 5%;
    height: 10vh;
    width: 100%;
    
    background: linear-gradient(-60deg, #cf5ecb 15%, #57391C 85%);
    background-size: 200% 200%;
    animation: ani_gradient 5s ease infinite;

    @media(min-width: 800px) {
        
        flex-direction: column;
        border-radius: 30px;
        position: fixed;
        right: 100px;
        top: 200px;

        padding: 1% 0% 0 0.3%;
        width: 4.5%;
        height:fit-content;
    
    }
    
}

.home-div {

    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    

    @media(min-width: 800px) {
    
        display: flex;
        flex-direction: row;
        
    }
    
}

.home-content {

    padding: 1% 0 0 2.5%;
    
    @media(min-width: 800px) {
    
        margin: 7% 0 0 0;
    
    }

}

.home-check {

    display: none;

    @media(min-width: 800px){

        display: block;
    }
}

.home-h2 {
    font-size: 1.8em;
    padding-left: 5%;
    margin-bottom: 2%;

    @media(min-width: 800px){

        font-size: 4em;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10%;

    }

}
.home-h5 {

    font-size: 1em;
    font-weight: 400;
    text-align: center;

    @media(min-width: 800px){

        font-size: 2em;
        margin-bottom: 5%;

    }

}
.home-p {

    font-size: 1em;
    font-weight: 100;

    @media(min-width: 800px){

        font-size: 2em;
        text-align: center;

    }

}

.profile-pic {

    width: 100%;
    height: 40vh;
    margin-left: 2%;
    aspect-ratio: 1;
    clip-path: polygon(78.88% 90.82%,20.10% 90.08%,2.65% 33.95%,50.63% 0.00%,97.74% 35.15%);

    @media(min-width: 800px){

        width: 35%;
        height: 75vh;
        margin-right: 10%;
        
    }
    

}

.NavIcons {

    
    width: 30px;
    height: 50px;

    @media(min-width: 800px){

        width: 50px;
        height: 10vh
    }

}


/* Contact US */

.contactus-h2 {

    padding-left: 10%;
}

.form-div {

    width: 70%;
    margin: -1% 0 0 15%;
    color: white;

    @media(min-width: 800px){

        width: 40%;
        margin: -1% 0 0  25%;
    }
}

form {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    font-size: 16px;

}

input {

    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }

}

textarea {

    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }

}

label {
    margin-top: 1rem;
}

input[type="submit"] {
    margin: 2rem auto;
    cursor: pointer;
    background: black;
    width: 30%;
    color: white;
    border: none;
}

/* Testemonials */


.testMain {

    text-align: center;
}

.testemonials-h6 {

    margin-bottom: 5px;
    color: white;

    @media(min-width: 800px){

        font-size: 1.2em;
    }
}
.testemonials-h3 {

    color: white;
    font-weight: bold;
    @media(min-width: 800px){

        font-size: 5em;
    }
}

.marQ {

    margin-top: 20%;
    width: 100%;

    @media(min-width: 800px){

        margin-top: 0;
        width: 0%;

    }
}

.testContainer {

    width: 100%;

    @media(min-width: 800px){

        width: 40%;
        margin-left: 30%;
    }
}

.testeCard {

    width: 100%;
    height: fit-content;
    text-align: start;
    color: black;
    font-weight: bold;
    font-family: cursive;
    border-radius: 25px;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 25px;

}

.child {

    margin: 0 1%;
} 

  /* Skills */

.skills-span-h1 {

    padding-left: 7%;
    font-size: 1.3em;
    text-align: center;

    @media(min-width: 800px){

        font-size: 5em;

    }
}

.skills-span {

    color: black;
    font-family: serif;
    text-align: center;
}

.skills-nav {

    display: flex;
    flex-direction: row;

}

.skillsIcon {

    width: 25px;
    height: 25px;
  
    /* @media(min-width: 800px){
  
      width: 35px;
      height: 35px;

    } */

}

.imgIcon {

    width: 30px;
    height: 30px;
  
    /* @media(min-width: 800px){
  
      width: 45px;
      height: 45px;
    } */
  }

.skills-h5 {

    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;

    @media(min-width: 800px){

        margin-bottom: 50px;
        font-size: 1.5em;
    }
}

.tech-skills-section {
   
    margin-top: 20px;

    @media(min-width: 800px){

        margin-bottom: 0px;
        
    }

}
  
.tech-skills-list {

    list-style: none;
    padding: 0;
    
}
  
.tech-skills-info-item {

    margin-top: 3px;
    text-align: center;
    margin-bottom: 10px;

    @media(min-width: 800px){

        margin-top: 15px;
        margin-bottom: 25px;

    }

}
  
.icon-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    margin-top: 0px;
    padding-left: 32px;

    @media(min-width: 800px){

        row-gap: 20px;
        margin-top: 5px;
        grid-template-columns: repeat(5, 1fr);
    }

}

.softwares-skills-h5 {

    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
    margin-top: 50px;

    @media(min-width: 800px){

        margin-top: 0px;

        margin-bottom: 50px;
        font-size: 1.5em;
    }
}
.soft-skills-h5 {

    margin-bottom: 10px;
    text-align: center;
    font-size: 1em;
    margin-top: 20px;

    @media(min-width: 800px){

        margin-bottom: 50px;
        font-size: 1.5em;
    }
}
  
.icon {

    display: inline-block;
    width: 1px;
    height: 1px;
    
    @media(min-width: 800px){

        width: 40px;
        height: 40px;
    }

}

.soft-skills-list {

    list-style: none;

}

.soft-skills-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;

    @media (min-width: 800px){

        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 25px;
        row-gap: 20px;

    }
    
}

.soft-skills-item {

    font-size: 0.75em;

    @media (min-width: 800px){

        font-size: 0.85em;
    }
}

.css-19midj6 {

    height: 25vh;
}


/* Project */

.projectCard {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 200px;

    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 25px;

    @media(min-width: 800px){

        flex-direction: row;
        width: 300px;
        height: 240px;
    }
    
}

.projectContainer {

    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    padding: 0% 5%;

    @media(min-width: 800px){

        flex-direction: row;
        column-gap: 50px;
        padding: 5% 5%;

    }

}



/* Animations */

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes ani_gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

